<html>
<head>
<meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="jumbotron">
  <h1 class="display-4">CSIA</h1>
  <hr class="my-4">
  <p class="lead">
Chhatrapati Shivaji Maharaj International Airport, Mumbai (IATA: BOM, ICAO: VABB) is the primary international airport serving the Mumbai Metropolitan Area, India. It is the second busiest airport in the country in terms of total and international passenger traffic after Delhi, and was the 14th busiest airport in Asia and 28th busiest airport in the world by passenger traffic in calendar year 2017.[4] Its passenger traffic was about 49.8 million in year 2018. The airport is the second busiest in the country in terms of cargo traffic also
The airport has three operating terminals spread over a total land area of 750 hectares (1,850 acres)[6] and handles about 950 aircraft movements per day. It handled a record 1,007 aircraft movements on 9 December 2018, higher than its earlier record of 1,003 flight movements in a day in June 2018. It handled a record 51 movements in one hour on 16 September 2014.[7] Along with IGI Delhi, it was adjudged the "World's Best Airport" at Airport Service Quality Awards 2017 in the highest category of airports handling more than 40 million passengers annually by Airports Council International.[8] It has also won the "Best Airport in India and Central Asia" award at the Skytrax 2016 World Airport Awards.[9] It is one of the three airports in India to have implemented Airport Collaborative Decision Making (A-CDM) to ensure timely takeoffs and landings.[10]
</body> 

</html>
