<html>
<head>
<meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="jumbotron">
  <h1 class="display-4">DBIA</h1>
  <hr class="my-4">
  <p class="lead">
Dubai International Airport (IATA: DXB, ICAO: OMDB) (Arabic: مطار دبي الدولي‎) is the primary international airport serving Dubai, United Arab Emirates, and is the world's busiest airport by international passenger traffic.[4] It is also the fifth-busiest airport in the world by passenger traffic,[5] the sixth-busiest cargo airport in the world,[6] the busiest airport for Airbus A380 and Boeing 777 movements,[7] and the airport with the highest average number of passengers per flight.[8] In 2017, DXB handled 88 million passengers and 2.65 million tonnes of cargo and registered 409,493 aircraft movements.[9] In July 2019, Dubai International airport installed the largest solar energy system in the region's airports as part of Dubai's goal to reduce 30 percent of the city energy consumption by 2030.[10]

Dubai International Airport is situated in the Al Garhoud district, 2.5 nautical miles (4.6 km; 2.9 mi) east[2] of Dubai and spread over an area of 7,200 acres (2,900 ha) of land.[11] Terminal 3 is the second-largest building in the world by floor space and the largest airport terminal in the world.[12]

Emirates Airline has its hub airport in Dubai International (DXB) and has their own terminal 3 with 3 concourses that they share with flydubai. The Emirates hub is the largest airline hub in the Middle East; Emirates handles 51% of all passenger traffic and accounts for approximately 42% of all aircraft movements at the airport.[13][14] Dubai Airport is also the base for low-cost carrier flydubai which handles 13% of passenger traffic and 25% of aircraft movements at DXB.[15] The airport has a total capacity of 90 million passengers annually. As of January 2016, there are over 7,700 weekly flights operated by 140 airlines to over 270 destinations across all inhabited continents.[16] Over 63% of travelers using the airport in 2018 were connecting passengers.[17]

Dubai International is an important contributor to the Dubai economy, as it employs approximately 90,000 people, indirectly supports over 400,000 jobs and contributes over US$26.7 billion to the economy, which represents around 27 per cent of Dubai's GDP and 21% of the employment in Dubai.[18] It is predicted that by 2020, the economic contribution of Dubai's aviation sector will rise to 37.5% of the city's GDP and by 2030, the economic impact of aviation is projected to grow to $88.1 billion and support 1.95 million jobs in Dubai or 44.7% of the GDP and 35.1% of the total employment.[1][19]
</body> 

</html>
