<html>
<head>
<meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="jumbotron">
  <h1 class="display-4">DIA</h1>
  <hr class="my-4">
  <p class="lead">
Düsseldorf Airport (German: Flughafen Düsseldorf, pronounced [ˌfluːkhaːfn̩ ˈdʏsl̩dɔʁf]; until March 2013 Düsseldorf International Airport; IATA: DUS, ICAO: EDDL) is the international airport of Düsseldorf, the capital of the German state of North Rhine-Westphalia. It is about 7 kilometres (4 mi) north of downtown Düsseldorf, and some 20 kilometres (12 mi) south-west of Essen in the Rhine-Ruhr area, Germany's largest metropolitan area.

Düsseldorf is the third largest airport in Germany after Frankfurt and Munich;[3] it handled 24.5 million passengers in 2017. It is a hub for Eurowings and a focus city for several more airlines. The airport has three passenger terminals and two runways and can handle wide-body aircraft up to the Airbus A380.[4]

</body> 

</html>
