<html>
<head>
<meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="jumbotron">
  <h1 class="display-4">IGIA</h1>
  <hr class="my-4">
  <p class="lead">Indira Gandhi International Airport (IATA: DEL, ICAO: VIDP) serves as the major international aviation hub of the Indian capital city of New Delhi as well as India. The airport, spread over an area of 5,106 acres (2,066 ha),[4] is situated in Palam, 15 km (9.3 mi) south-west of the New Delhi railway station and 16 km (9.9 mi) from New Delhi city centre.[5][6] Named after former Prime Minister of India Indira Gandhi, it is the busiest airport in India in terms of passenger traffic since 2009.[7] It is also the busiest airport in the country in terms of cargo traffic, overtaking Mumbai during late 2015. In the calendar year 2018, it was the 12th busiest airport in the world and 6th busiest airport in Asia by passenger traffic handling nearly 70 million passengers.[8] It is the world's busiest airport for Airbus A320 aircraft.[9] The under construction expansion program will increase the airport's capacity to handle 100 million passengers by 2030
The airport was operated by the Indian Air Force before its management was transferred to the Airports Authority of India.[11] In May 2006, the management of the airport was passed over to Delhi International Airport Limited (DIAL), a consortium led by the GMR Group.[12] In September 2008, the airport inaugurated a 4,430 m (14,530 ft) runway. With the commencement of operations at Terminal 3 in 2010, it became India's and South Asia's largest aviation hub. The Terminal 3 building has a capacity to handle 34 million passengers annually and is the world's 8th largest passenger terminal.[6] The airport uses an advanced system called Airport Collaborative Decision Making (A-CDM) to help keep takeoffs and landings timely and predictable.[13]


</body> 

</html>
