
<html>
<head>
<meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="jumbotron">
  <h1 class="display-4">KIA</h1>
  <hr class="my-4">
  <p class="lead">Kempegowda International Airport (IATA: BLR, ICAO: VOBL) is an international airport serving Bangalore, the capital of the Indian state of Karnataka. Spread over 4,000 acres (1,600 ha), it is located about 40 kilometres (25 mi) north of the city near the village of Devanahalli. It is owned and operated by Bengaluru International Airport Limited (BIAL), a public–private consortium. The airport opened in May 2008 as an alternative to increased congestion at HAL Airport, the original primary commercial airport serving the city. It is named after Kempe Gowda I, the founder of Bangalore. Kempegowda International Airport became Karnataka's first fully solar powered airport developed by CleanMax Solar.[5][6]

Kempegowda Airport is the third-busiest airport by passenger traffic in the country, behind the airports in Delhi and Mumbai, and is the 29th busiest airport in Asia. It handled around 33.30 million passengers in the calendar year 2018 with 658 aircraft movements a day. The cargo handled by the airport continues to increase steadily, with the airport handling about 386,849 tonnes (426,428 short tons) of cargo between April 2018 and March 2019.[7]

The airport consists of two runways and a passenger terminal, which handles both domestic and international operations. The second runway, constructed by Larsen & Toubro, was commissioned on 6 December 2019.[8][9] A second terminal is in the early stages of construction. Also, there is a cargo village and three cargo terminals. The airport serves as a hub for AirAsia India, Alliance Air, and IndiGo and is a focus city for Air India and SpiceJet.

</body> 

</html>